<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AppConfig" value=" uLrZK9+umfBJG0TO/gm0m48w26Ve3Nh/SySCyxT/tsYjdrXg0UZUvrveTk1KpGq5HNHSbVQh4MGPZX05SWJk1ulWAq0ffvJuTcb7RYoVWccYhgJqHf5RKByf/VGCuacPX0sYWudpUDBOI4cux/h6Aq7EfVRppHqFV3l4fJkR1AUnzSHiJPpSiG+LZUDfh/ciBl2/j8H3kgwk22oskgvsV6C6z8WJMeR68dJx7ToHEUHjk1ED4aGbarVNVpjOahjFaKwzsygNrguPIBBFbNL6sS9Jzy+9Xnt85lKoqOmVdmk=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>